// ==========================================================================
// Navbar Styles
// ==========================================================================

//Off Canvas Nav
.list-group {
  text-align: center;
}

a.list-group-item, a.list-group-item.active {
  background-color: $color-primary;
  color: $color-shadow;
  border-color: $color-dark;

  &:hover {
    background-color: $color-secondary;
    color: $color-light;
  }
}